---
apiVersion: v1
kind: Service
metadata:
  name: ${DOCKER_NAME}-service
  namespace: ${GIT_BRANCH}
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: ${DOCKER_NAME}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${DOCKER_NAME}
  namespace: ${GIT_BRANCH}
  labels:
    app: ${DOCKER_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${DOCKER_NAME}
  template:
    metadata:
      labels:
        app: ${DOCKER_NAME}
    spec:
      containers:
        - name: ${DOCKER_NAME}
          image: docker.io/seymaca/spring-petclinic:10
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: postgres
            - name: SERVICE_BINDING_ROOT
              value: /bindings
            - name: SPRING_APPLICATION_JSON
              value: |
                {
                  "management.endpoint.health.probes.add-additional-paths": true
                } 
            - name: POSTGRES_URL
              value: jdbc:postgresql://demo-db:5432/petclinic
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: demo-db
                  key: username
            - name: POSTGRES_PASS
              valueFrom:
                secretKeyRef:
                  name: demo-db
                  key: password
          ports:
            - name: http
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /livez
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          volumeMounts:
            - mountPath: /bindings/secret
              name: binding
              readOnly: true
      volumes:
        - name: binding
          projected:
            sources:
              - secret:
                  name: demo-db
